.button {
    width: 241px;
    height: 60px;
    background-color: #00c2f0;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
    &:hover {
        border: 7px solid $main-color;
        background-color: #000;
        color: #fff;
        transition: all 0.5s;
        box-shadow: 0 0 20px $main-color;
    }
}